
.footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-top: solid 1px rgba(0, 0, 0, 0.753);
    margin: 2rem 2rem 0 2rem;
}

.footer-email {
    text-decoration: none;
    color: var(--color-dark-grey);
}