
.footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-top: solid 1px rgba(0, 0, 0, 0.753);
    margin: 4rem 2rem 0 2rem;
}

.footer-contact {
    display: flex;
}

.footer-email {
    text-decoration: none;
    color: var(--color-dark-grey);
}

.footer-copyright {
        color: var(--color-dark-grey);
            text-decoration: none;


}


@media (max-width: 600px) {
    .footer-email {
        font-size: 12px;
    }

    .footer-copyright {
        font-size: 12px;
    }

}