.menu-link a {
    text-decoration: none;
    position: relative;
    color: var(--light);
    font-family: "Anton";
    font-weight: 500;
    letter-spacing: 0.02rem;
    display: inline-block;
    overflow: visible;
    font-size: 2.5rem;
    transition: color 0.3s ease;
}


.nav-link a {
    text-decoration: none;
    position: relative;
    letter-spacing: 0.02rem;
    display: inline-block;
    overflow: visible;
    transition: color 0.3s ease;
}

/* la ligne sous le lien */
.menu-link a::after,
.nav-link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px; 
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left; 
  transition: transform 0.4s ease;
}

.link-dark::after {
  background-color: var(--dark);
}

.link-light::after {
  background-color: var(--light);
}

.menu-link a::after {
  background-color: var(--light);
}

/* effet au hover */
.menu-link a:hover::after ,
.nav-link a:hover::after {
  transform: scaleX(1);
  transform-origin: left; 
}

/* effet inverse à la sortie */
.menu-link a:not(:hover)::after ,
.nav-link a:not(:hover)::after {
  transform-origin: right; 
}

section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    background-color: var(--light);
    color: var(--dark);
    padding: 2rem;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    color: var(--light);
    display: flex;
    justify-content: space-between;
    z-index: 10;
    height: 4rem;
    align-items: center;
}

nav p {
    padding: 1rem;
    cursor: pointer;
}

.nav-dark {
  color: var(--dark);
}

.nav-light {
  color: var(--light);
  mix-blend-mode: difference;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    background-color: var(--dark);
    color: var(--light);
    z-index: 9;
    will-change: clip-path;
}

.menu-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    will-change: transform, opacity;
}

.menu-col:nth-child(2){
    text-align: right;
}

.menu-img {
    width: 29vw;
    will-change: transform, opacity;
}


.menu-logo{
        height: 100%;
    width: 100%;
}

.menu-link {
    position: relative;
    will-change: transform;
    overflow: hidden;
}


.nav.scrolled {
  background: rgba(0, 0, 0, 0.85);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.nav-links {
    width: 40vw;
    min-width: 400px;
    display: flex;
    justify-content: space-evenly;
}

.nav-links a {
    text-decoration: none;
}

.link-dark {
    color: var(--dark);
}

.link-light {
    color: var(--light);
    mix-blend-mode: difference;
}

.nav-content {
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none; /* empêche clic pendant la transition */
  position: absolute;
  right: 0;
}

.fade-in {
  opacity: 1;
  pointer-events: auto;
  position: relative;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}


.menu-overlay {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100% , 0% 100%);
}

.menu-items{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

}
 .menu-link {
    padding-bottom: 6px;
    clip-path: polygon(0 0 , 100% 0, 100% 100%, 0% 100%);
}




.menu-footer {
    position: absolute;
    bottom: 0;
}

.menu-footer .col-sm {
    display: flex;
    justify-content: space-between;
}



@media (max-width: 1000px) {
    .hero h1 {
        width: 100%;
        font-size: 4rem;
    }

    .menu-content {
        top: 25%
    }

    .menu-img,
    .menu-highlighter {
        display: none;
    }

    .menu-links-wrapper {
        flex-direction: column;
        gap: 0;
    }

    .menu-link a {
        font-size: 3rem;
        letter-spacing: 0;
    }

    .menu-items {
        justify-content: start;
        padding: 1rem;
    }
}