.sticky-cards{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
}

.sticky-card {
    position: relative;
    width: 100%;
    height: 100svh;
    padding: 2.5rem 2.5rem 0 2.5rem !important;
    display: flex;
    gap: 3rem;
    will-change: transform;
    background-color: var(--light);
}

.sticky-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: var(--after-opacity, 0);
    transition: opacity 0.1s ease;
    pointer-events: none;
    z-index: 2;
}


.sticky-cart-index {
    flex: 2;
}

.sticky-card-content-wrapper h2 {
    font-family: var(--lausanne-300);
    font-size: 6vw;
    font-weight: 400;
    letter-spacing: -0.2083333333vw;
    line-height: 0.9;
}

.sticky-card-content {
    flex: 4;
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.sticky-card-content-wrapper {
    width: 75%;
    display: flex;
    flex-direction: column; 
    gap: 1.5rem;
}

.sticky-card-header {
    width: 75%;
}

.sticky-card-img img {
    aspect-ratio: 5/3;
    height: 50vh !important;
}

.sticky-card-copy {
    display: flex;
    gap: 1.5rem;
}

.sticky-card-copy-title {
    flex: 2;
}

.sticky-card-copy-description {
    flex: 4;
}

.sticky-card-copy-title p {
    text-transform: uppercase;
    font-weight: 650;
}


@media (max-width: 1000px) {
    .sticky-card {
        flex-direction: column;
        gap: 0;
    }

    .sticky-card-content-wrapper {
        width: 100%;
    }

    .sticky-card-copy {
        flex-direction: column;
        gap: 0.5rem;
    }

    .sticky-card-index {
        padding-top: 1.5rem;
    }
}