
/* Section principale avec image de fond */
.resume-bio {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("/bg2.png") center center / cover no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}


.resume-bio-img {
    width: 27vw;
    height: auto;
    border: solid;
}

/* Contenu principal */
.resume-bio-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  transition: transform 0.2s ease-out;
}

.resume-bio-title-block {
    display: flex;
    flex-direction: column;
    width: 30vw;
    color: var(--light);
}

.resume-bio-title-block h1 {
  font-size: 10vw;
  margin: 0;
}


.verset-title {
    font-size: 3vw;
    margin-bottom: 2vh;
    color: var(--light);
}

.verset-content {
    font-size: 1.5vw;
    color: var(--light);
}

@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -8px);
  }
}

/* Section suivante */
.intro-section {
  background: #0b1020;
  color: white;
  padding: 100px 40px;
  text-align: center;
}



@media (max-width: 600px) {

    .resume-bio-title-block h1 {
        font-size: 16vw;
    }
}