

.sermon-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    color:var(--color-dark-grey);
    margin: 2rem 0;
    padding-top: 6vw;
    font-size: 8vw;
    font-family: var(--lausanne-300);
    font-weight: 300;
}


.sermons-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem; /* espace entre les cards */
  padding:  2vw 5vw;

}

.sermons-card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.sermons-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}

.sermons-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.sermons-card h3 {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #1e293b; /* slate-900 */
}



@media (max-width: 800px) {
    .sermon-title {
        font-size: 12vw;
    }
}


@media (max-width: 640px) {
  .sermons-card-container {
    grid-template-columns: 1fr;
    padding: 2rem;;
  }

  .sermons-card img {
    width: 100%;
    height: 15rem;
  }
  
}

@media (max-width: 600px) {
    .sermon-title {
        font-size: 14vw;
    }

    .sermons{
        padding-top: 16vh;
        width: 81%;
        padding-left: 0;
    }

    .sermons h1 {
        font-size: 15vw;
    }
}