
/* Section principale avec image de fond */
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("/bg2.png") center center / cover no-repeat;
  overflow: hidden;
}

/* Superposition dégradée */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, transparent 30%, #0b1020);
}

/* Contenu principal */
.hero-content {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 4vh 4vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  color: white;
  transition: transform 0.2s ease-out;
}

.hero-title-block {
    display: flex;
    flex-direction: column;
    color: var(--light);
}

.hero-title-block h1 {
  font-size: 10vw;
  margin: 0;
}


@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -8px);
  }
}

/* Section suivante */
.intro-section {
  background: #0b1020;
  color: white;
  padding: 100px 40px;
  text-align: center;
}



@media (max-width: 600px) {

    .hero-title-block h1 {
        font-size: 16vw;
    }
}