/* Section principale avec image de fond */
.bio-header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.bio-header-top {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}


.bio-title {
    width: 97%;
    font-size: 18vw;
    font-family: var(--lausanne-300);
    color: var(--accent);
    position: absolute;
    text-align: center;
    top: -14vw;
}



.bio-header-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 25vh;
    padding: 0 1rem;
    position: relative;
}

.bio-hero {
  background: url("/bio-bg.jpeg") center center / cover no-repeat;
  height: 125vh;
  max-height: 750px;
  width: 100%;

}

.bio-resume{
    text-align: start;
    width: 84%;
    padding: 5rem 0;
    font-size: 1.2rem;
}

.bio-hero.white-bg {
  background: #fff !important; /* fond blanc */
  transition: background 0.3s ease;
}

.bio-resume.resume-hidden {
  opacity: 0 !important;
  transition: 0.3s ease;
}




@media (max-width: 790px) {
    .bio-header-top,
    .bio-title {
        gap: 0;
        opacity: 0;
    }

    .bio-hero {
        width: 84%;
        max-height: unset;
    }

    .bio-header-content {
        flex-direction: column;
        margin-top: 0;
        padding: 0;
        position: fixed;
        top: 0;
        z-index: -10;
        height: 100svh;
        width: 100%;
        align-items: center;
        padding: 2rem;
    }

    .bio-content {
        background-color: var(--light);
        margin-top: calc(100vh);
    }

    .bio-resume {
      position: absolute;
    }
 
}

@media (max-width: 690px) {
    .bio-hero {
        width: 100%;
    }

    .bio-header-content {
        padding: 0;
    }
}