.family {
  margin-bottom: 5rem;
}

.family-card-container {
  display: flex;
  flex-wrap: wrap; /* permet aux cartes de passer à la ligne si écran étroit */
  align-items: center;
  justify-content: center; /* centré horizontalement */
  gap: 20px; /* espace entre les cartes */
  padding: 20px;
  background-color: var(--light);
}

.family-card {
  width: 261px;
  max-width: 90vw; /* ne dépasse pas 90% de la largeur de l'écran */
  height: 270px;
  max-height: 70vh; /* hauteur maximale relative à l'écran */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.family-card-front,
.family-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Face arrière (retournée) */
.family-card-back {
  transform: rotateY(180deg);
  flex-direction: column;
  border: solid 2px;
}

/* Couleurs des cartes */
#family-card-1 .family-card-back {
  background-color: var(--card-1);
}

#family-card-2 .family-card-back {
  background-color: var(--card-2);
}

#family-card-3 .family-card-back {
  background-color: var(--card-3);
}

.family-intro {
    width: 100%;
    color: var(--color-dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80svh;
}

.family-intro h1 {
    font-size: 7rem;
    font-weight: 800;
    letter-spacing: -0.05em;
    line-height: 1.1;
}

.family-card-back p {
  font-size: 1.5rem;
}


@media (max-width: 1000px) {
    .family-intro h1 {
        font-size: 2rem;
        letter-spacing: 0;
    }

         .family-card {
        width: 266px;
        height: 187px;
    }


}

/* Responsive pour écrans petits */
@media (max-width: 768px) {
  .family-card {
    width: 150px;
    height: 200px;
  }
  .family-card-container {
    gap: 15px;
    flex-direction: column;
  }

  .family-intro {
     height: 40svh;
  }

    .family-card {
        width: 280px;
        height: 30vh;
    }
  
}

@media (max-width: 480px) {


  .family-card-container {
    gap: 10px;
  }
}
