@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --dark : #1e1e1e;
    --light : #fefff8;
    --accent : #fca311;
    --lausanne-300: "Lausanne-300";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'DM Sans', sans-serif;
    background-color: #000;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    text-transform: uppercase;
    font-family: "Anton";
    font-size: 10rem;
    font-weight: 500;
    letter-spacing: -0.1rem;
    line-height: 0.9;
}


/* Scrollbar track (fond) */
::-webkit-scrollbar {
    width: 5px; /* largeur scrollbar */
    height: 2px; /* hauteur scrollbar horizontale si besoin */
  }

  /* Scrollbar thumb (partie que l'on fait glisser) */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(214, 214, 214, 0.671); /* couleur violet/indigo par exemple */
    border-radius: 10px;
  }

  /* Scrollbar track background */
  ::-webkit-scrollbar-track {
    background: rgba(180, 180, 180, 0); /* fond plus sombre */
    margin-bottom: 18px;
  }
